---
const { project } = Astro.props;
---

<div
  class="w-full relative bg-black-100 rounded-sm overflow-hidden transition-all duration-200 hover:shadow-md"
>
  {
    project.comingSoon && (
      <div class="absolute top-3 right-3">
        <span class="bg-green-500 text-white text-xs font-medium px-2 py-1 rounded-md">Coming Soon</span>
      </div>
    )
  }
  <div class="p-4 flex flex-col flex-grow">
    <div class="flex justify-between items-center text-xs mb-2 text-gray-500 dark:text-gray-400">
      <span>{project.date}</span>
    </div>
    <div class="flex-grow flex items-center min-h-[2.8rem]">
      <h3
        class="text-base font-semibold text-black mt-1 overflow-hidden leading-tight line-clamp-2"
      >
        {project.title}
      </h3>
    </div>
  </div>
</div>
